* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: black;
    background-color: cadetblue;
    width: 100%;

}

header,
section,
footer {
    padding: 2rem;
}


h1,
h3 {
    text-align: center;
    padding: 10px;
}

h2,p {
    text-align: left;
    padding: 1rem;
    margin-bottom: 2rem;

}

#logo { 
    position: absolute; 
	top:0; 
	left:0; 
    
}




/* Header Area */


header {
    background-image: url(https://media.istockphoto.com/photos/beautiful-sky-with-white-clouds-picture-id182412483?k=20&m=182412483&s=612x612&w=0&h=axQ1-d_KRgxHIxDYQPG-yQuxjeIjXiQLDE8x5ltD-_0=);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    top: 0;   
}


header li {
    display: inline-block;
    font-size: 15px;
}

header p {
    text-align: center;
    font-weight: bolder;
}

header img {
    height: 80px;
}


nav ul {
    list-style-type: none;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgb(173, 11, 11);
}


#hero h2, p {
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}

.bg {
    background-color: #042e7c;

}

.bg a,
.bg span {
    color: white; 
}

#mob_button {
    display: none;
}

 
/*  Main Area */

main {
    height: 100%; /*consider responsive height */
    margin-bottom: 30px;
}

.img-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    height: 200px;
    width: 300px;
    padding: 50px;
}

/*  MODAL */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    min-height: 50vh;
    width: 50vw;
    border-radius: 10px;
    background-color: white;
    padding: 3rem;
    color: #042e7c;
    box-shadow: 0 0 15px rgb(111, 111, 111);

}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.overlay,
.modal,
.close {
    display: none;
} 

/* Gallery Page Styling */

.gallery-container {
    display: grid;
    grid-template-areas: 
    "image1 image1 image2 image2 image3 image3"
    "image1 image1 image2 image2 image3 image3"
    "image1 image1 image4 image4 image3 image3"
    "image1 image1 image4 image4 image3 image3"
    "image5 image6 image6 image6 image3 image3"
    "image7 image6 image6 image6 image8 image8"
    "image9 image6 image6 image6 image8 image8";
    grid-gap: 0.4rem;
    grid-auto-rows: 1fr;
    gap: 0.4rem;
    margin: 0 auto;
    margin-top: 70px;
    width: 50vw;
}

.item {
   min-height: 50px;
}

.item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.image1 {
    grid-area: image1;
}

.image2 {
    grid-area: image2;
    /* https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=715&q=80 */
}

.image3 {
    grid-area: image3;
   /* https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80 */
}

.image4 {
    grid-area: image4;
   }

.image5 {
    grid-area: image5;
}

.image6 {
    grid-area: image6;
}
    

.image7 {
    grid-area: image7;
}

.image8 {
    grid-area: image8;
}

.image9 {
    grid-area: image9;
}

/* Projects Area */
.cards {
    display: flex;
}

.card {
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    width: 33%;
}

.card img {
    width: 100;
    height: 200px;
    object-fit: cover;
}

.card h3,
.card p,
.card a {
    padding: 0 20px;
    margin-bottom: 20px;
}

@media (max-width: 768px){
    .card {
        background-color: #3333;
        color: red;
    }
}

 /* Skills Area */


i {
    font-size: 3rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#skills {
    min-height: 500px;
}

.skill {
    background-color: rgb(100, 148, 237);
    padding: 2rem;
    border: 1px solid gray;
}

.skills_group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-around;
    text-align: center;
}

.skills:nth-child(odd) {
    background-color: darkgray;
}

progress[value] {
    height: 1.5rem;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: coral;
    border-radius: 5px;
    background-size: 35px 20px;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(80, 255, 182);
    border-radius: 7px;
    background-size: 35px 20px;
}

i:hover {
    cursor: pointer;
    color: blue;
}


/* Footer Area */

footer {
    background-color: cornflowerblue;
    height: 60vh;
    width: auto;
    bottom: 0;
    margin-top: 30px;
}

form {
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#back_to_top {
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 2rem; 
}

input{
    width: 280px;
    height: 30px;
    padding: 10px;
    margin: 5px 150px 5px 100px;
    border-radius: 3px;
}


button {
    background-color: brown;
    padding: 5px;
    height: 30px;
    width: 150px;   
    border-radius: 3px;
}

.button {
    background: 1px solid;
    background-color: green;
    font-family: inherit;
    border-radius: 5px;
    color: coral;
    cursor: pointer;
    padding: 0.5rem 1rem;
}

textarea {
    border-radius: 4px;
    padding: 5px;
    margin: 5px 150px 5px 100px;
}

#social {   
    display: flex;
    justify-content: left;
    flex-direction: row;
    list-style: none;
    left: 2rem;
    bottom: 2rem; 
    text-align: left;
    text-decoration: none;
}

#social li {
    padding: 10px;
}



/*  Mobile */

@media  ( max-width: 800px) {
    nav ul {
        display: none;
    }
    h1 {
        font-size: 1.5rem;
    }

    #mob_button {
        background-color: transparent;
        display: block;
        color: white;
        border: none;
        padding: 1rem;
    }

    nav.responsive ul {
        display: block;
        position: absolute;
        width: 100%;
        top: 85px;
        left: 0;
        background-color: white;

    }

    nav.responsive ul li {
        display: block;
    }

    nav.responsive ul li a {
        color: #7fffd4;
    }
}







/*   background-image: url(https://images.indianexpress.com/2021/09/GettyImages-sun-star-science-teacher-explains-1200.jpg); */